version: 2
updates:
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          # Check for updates to GitHub Actions every week
          interval: "weekly"
    - package-ecosystem: "npm" # See documentation for possible values
      directory: "/" # Location of package manifests
      versioning-strategy: increase
      schedule:
          interval: "daily"
      groups:
          minor-and-patch-dependencies:
              update-types:
                  - "minor"
                  - "patch"
          major-dependencies:
              update-types:
                  - "major"
