name: Publish NPM package (manual)

on:
    workflow_dispatch:
        inputs:
            totp:
                description: "TOTP (two-factor authentication) code for NPM"
                required: true
                type: number

permissions:
    contents: write
    packages: write

env:
    NPM_TOKEN: ${{ secrets.NPM_PUBLISH }}

jobs:
    publish:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x]

        steps:
            - uses: actions/checkout@v6
            - uses: pnpm/action-setup@v4
              with:
                  package_json_file: app/package.json
            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'pnpm'
                  registry-url: "https://registry.npmjs.org"
                  scope: "@nyce"
            - name: Set NPM auth token
              run: pnpm config set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Publish (P)NPM package
              run: pnpm publish --access public --no-git-checks --otp ${{ inputs.totp }}
